@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding:0; margin:0;
}

body {
    background: #380974;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    height: 100svh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card-container {
    background: #4c0c9b;
    border-radius: 5px;
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.418));
}

.top {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    line-height: 25px;
}

.image-container img{
    width: 128px;
    height: 128px;
    border-radius: 100%;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.bottom {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #a160f2;
    height: 75%;
    width: 200px;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.418));
    color: #07010f;
    font-size: 17px;
}

.notimportant {
    color: gray;
}